/*
*{
    border: 1px solid red;
}
*/
#myCanvas{
	border: 2px solid black;
	background-color: white;
}

.myButton{
    appearance: none;
    margin: 1em;
    padding: 2%;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
}

.col-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.canvas-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.control-container{
    margin-top: 2%;
    height: 5%; 
    border: 2px solid black; 
    background-color: white;
}

.image-background{
    width: 100%;
    height: fit-content;
    padding: 10%;
    background-image: url('https://i.pinimg.com/originals/1f/31/98/1f319822552a361382eaa3d7670faa9b.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 2px solid black;
}         

.slider{
	appearance: none;
	width: 75%;
	height: 7px;
	border-radius: 5px; 
	background: gray;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 17px; /* Set a specific slider handle width */
  height: 17px; /* Slider handle height */
  border-radius: 50%; 
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 17px; /* Set a specific slider handle width */
  height: 17px; /* Slider handle height */
  border-radius: 50%; 
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
}